<div class="container">
  <div class="row">
    <div class="col">
      <mat-form-field>
        <mat-label>Id</mat-label>
        <input matInput [(ngModel)]="data.item.itemNo">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field>
        <mat-label>Navn</mat-label>
        <input matInput [(ngModel)]="data.item.name">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field>
        <mat-label>Pris</mat-label>
        <input matInput [(ngModel)]="data.item.price">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field>
        <mat-label>Pris model</mat-label>
        <input matInput [(ngModel)]="data.item.priceModel">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field>
        <mat-label>Varekode</mat-label>
        <input matInput [(ngModel)]="data.item.itemCode">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <button  (click)="onNoClick()" class="ml-5" mat-raised-button>Tilføj</button>
  </div>
</div>

