<mat-nav-list>
  <div class="profile-card">
    <div class="header"></div>
    <h3 *ngIf="ShowLogo" >C</h3>
    <h3 *ngIf="status" >CompuSuite</h3>
  </div>


  <div class="nav-item">
    <a mat-list-item [routerLink]="['/app/pricecalendar']" routerLinkActive="list-item-active">
      <div class="d-flex">
          
        <mat-icon class="green-icon">dashboard</mat-icon>

        <span [@animateText]="status ? 'show' : 'hide'" class="pt-3"> Price Calendar</span>
        <div class="arrow">
          <mat-icon >keyboard_arrow_down</mat-icon>
        </div>
      </div>
    </a>
  </div>

  <div class="nav-item">
    <a mat-list-item [routerLink]="['/app/items']" routerLinkActive="list-item-active">
      <div class="d-flex">
          
        <mat-icon class="green-icon">dashboard</mat-icon>

        <span [@animateText]="status ? 'show' : 'hide'" class="pt-3"> Items</span>
        <div class="arrow">
          <mat-icon >keyboard_arrow_down</mat-icon>
        </div>
      </div>
    </a>
  </div>
  

  <div *ngIf="isLoggedIn()" class="nav-item">
    <a mat-list-item [routerLink]="['/app/signal']" routerLinkActive="list-item-active">
      <div class="d-flex">
          
        <mat-icon class="green-icon">dashboard</mat-icon>

        <span [@animateText]="status ? 'show' : 'hide'" class="pt-3"> SignalR Test</span>
        <div class="arrow">
          <mat-icon >keyboard_arrow_down</mat-icon>
        </div>
      </div>
    </a>
  </div>


</mat-nav-list>
