example_worker/obj
example-worker2/obj
Gateway/obj
Gateway/bin
example-worker2/bin
PriceCalendarService/bin
PriceCalendarService/obj
SPA/src/environments/environment.ts
ItemManagerService/obj
SPA/src/environments/environment.ts
