example_worker/obj
example-worker2/obj
Gateway/obj
Gateway/bin
example-worker2/bin
PriceCalendarService/bin
PriceCalendarService/obj

ItemManagerService/obj
PriceCalendarService/.vscode
PriceCalendarService/.vs
ItemManagerService/.vs
ItemManagerService/.vs
ItemManagerService/bin
ItemManagerService/.idea
ItemManagerService/bin
PriceCalendarService/.idea
