<div class="container">
  <div class="row">
    <div class="col">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input type="text" matInput [(ngModel)]="data.item.name">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field>
        <mat-label>Price</mat-label>
        <input type="number" matInput [(ngModel)]="data.item.price">
      </mat-form-field>
    </div>
  </div>
  <div  *ngIf="!this.newGroup" class="row">
    <div class="col">
      <mat-form-field>
        <mat-label>Currency</mat-label>
        <mat-select [(ngModel)]="data.item.unit" (selectionChange)="SelectChanged($event)" >
          <mat-option *ngFor="let currency of this.currency" [value]="currency.currency">
            {{currency.currency}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div  class="row">
    <div class="col">
      <mat-form-field>
        <mat-label>Description</mat-label>
        <mat-select [(ngModel)]="data.item.priceModel" (selectionChange)="SelectChanged($event)" >
          <mat-option *ngFor="let group of this.groups" [value]="data.item.priceModel">
            {{group.description}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div *ngIf="this.newGroup" class="row">
    <div class="col">
      <mat-form-field>
        <mat-label>Currency</mat-label>
        <input type="text" matInput [(ngModel)]="data.item.unit">
      </mat-form-field>
    </div>
    <div class="col">
      <p class="existing-group" (click)="OnChooseExistingGroup()"> Choose a existing Currency instead </p>
    </div>
  </div>
  <div *ngIf="this.newGroup" class="row">
    <div class="col">
      <mat-form-field>
        <mat-label>Group Description</mat-label>
        <input type="text" matInput [(ngModel)]="data.item.priceModel">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field>
        <mat-label>Item Code</mat-label>
        <input type="text" matInput [(ngModel)]="data.item.itemCode">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <mat-label>Is allowed to book</mat-label>
        <mat-checkbox class="ml-3" [(ngModel)]="data.item.quickPost"></mat-checkbox>
    </div>
  </div>
  <div class="row">
    <button  (click)="onNoClick()" class="ml-5" mat-raised-button>Opdater</button>
    <button  (click)="deleteItem()" class="ml-5" mat-raised-button color="warn" >Slet</button>
  </div>
</div>

