<div class="container">

  <div class="row">
    <div class="col">
      <mat-form-field>
        <mat-label>Id</mat-label>
        <input disabled type="number" matInput [(ngModel)]="data.id">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field>
        <mat-label>Item Number</mat-label>
        <input  matInput [(ngModel)]="data.itemNo">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field>
        <mat-label>Navn</mat-label>
        <input matInput [(ngModel)]="data.name">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field>
        <mat-label>Enhed</mat-label>
        <input  matInput [(ngModel)]="data.unit">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field>
        <mat-label>Pris</mat-label>
        <input type="number" matInput [(ngModel)]="data.price">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field>
        <mat-label>Pris model</mat-label>
        <input matInput [(ngModel)]="data.priceModel">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field>
        <mat-label>Varekode</mat-label>
        <input matInput [(ngModel)]="data.itemCode">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <button  (click)="onNoClick()" class="ml-5" mat-raised-button>Opdater</button>
    <button  (click)="deleteItem()" class="ml-5" mat-raised-button color="warn" >Slet</button>
  </div>
</div>

