<mat-toolbar >
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
    </button>

    <span> Dashboard</span>

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end"> 
        <ul fxLayout="row" fxLayoutGap="10px">

            <li>
                <button mat-icon-button>
                    <mat-icon class="icon-color">star_outline</mat-icon>
                </button>
               
            </li>
            <li>
                <div></div>
                <mat-divider style="height:70%" [vertical]="true"> </mat-divider>
            </li>
            <li>
                
                <button  [matMenuTriggerFor]="notifications"  mat-icon-button>
                    <mat-icon  matBadge="{{this.excelFiles.length > 0 ? this.excelFiles.length : null}}" matBadgeColor="warn" class="icon-color">mail_outline</mat-icon>
                </button>
                <mat-menu  #notifications="matMenu">
                    <div *ngFor="let item of this.excelFiles; let i = index" >
                    <p (click)="downloadExcelfile(i)" class="notifications-bg"  mat-menu-item>New excel file. Click to download</p>
                </div>
                </mat-menu>
           

            </li>
            <li>
                <button [matMenuTriggerFor]="menu" mat-icon-button>
                    <mat-icon class="icon-color">person_outline</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button [routerLink]="['/app/profile']"  mat-menu-item>Profile</button>
                    <button (click)="OnLogout()"  mat-menu-item>Logout</button>
                  </mat-menu>
            </li>

        </ul>
    </div>
    </mat-toolbar-row>
</mat-toolbar>