<div class="row">
    <div class=" mb-3 col-xl-4 col-md-6 col-sm-12">
        <mat-card >
            <div class="cont">
                <div class="row">
                    <div class="col d-flex justify-content-end">
                        <mat-icon class="mr-1">cloud_download</mat-icon>
                        <mat-icon class="mr-1" >share</mat-icon>
                        <mat-icon class="mr-1" >fullscreen</mat-icon>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-3">
                        <h2>Arrivals today</h2>
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">Customer</th>
                                <th scope="col">Date</th>
                                <th scope="col">Type</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let booking of arrivalsToday" >
                                <td>{{booking.customerName}}</td>
                                <td>{{booking.arrival}}</td>
                                <td>{{booking.itemName}}</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
    <div class=" mb-3 col-xl-4 col-md-6 col-sm-12">
        <mat-card >
            <div class="cont">
                <div class="row">
                    <div class="col d-flex justify-content-end">
                        <mat-icon class="mr-1">cloud_download</mat-icon>
                        <mat-icon class="mr-1" >share</mat-icon>
                        <mat-icon class="mr-1" >fullscreen</mat-icon>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-3">
                        <h2>Departures today</h2>
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">Customer</th>
                                <th scope="col">Date</th>
                                <th scope="col">Type</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let booking of departueToday" >
                                <td>{{booking.customerName}}</td>
                                <td>{{booking.arrival}}</td>
                                <td>{{booking.itemName}}</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
    <div class=" mb-3 col-xl-4 col-md-6 col-sm-12">
        <mat-card >
            <div class="cont">
                <div class="row">
                    <div class="col d-flex justify-content-end">
                        <mat-icon class="mr-1">cloud_download</mat-icon>
                        <mat-icon class="mr-1" >share</mat-icon>
                        <mat-icon class="mr-1" >fullscreen</mat-icon>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-3">
                        <h2>Numbers of arrivals this week</h2>
                        <google-chart #chart
   [title]="title"
   [type]="type"
   [data]="arrivalsThisWeek"
   [options]="options"
   [width]="width"
   [height]="height">
</google-chart>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>

    <div class=" mb-3 col-xl-4 col-md-6 col-sm-12">
        <mat-card >
            <div class="cont">
                <div class="row">
                    <div class="col d-flex justify-content-end">
                        <mat-icon class="mr-1">cloud_download</mat-icon>
                        <mat-icon class="mr-1" >share</mat-icon>
                        <mat-icon class="mr-1" >fullscreen</mat-icon>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-3">
                        <h2>Numbers of departures this week</h2>
                        <google-chart #chart
   [title]="title"
   [type]="type"
   [data]="departureThisWeek"
   [options]="options"
   [width]="width"
   [height]="height">
</google-chart>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>

    <div class=" mb-3 col-xl-4 col-md-6 col-sm-12">
        <mat-card >
            <div class="cont">
                <div class="row">
                    <div class="col d-flex justify-content-end">
                        <mat-icon class="mr-1">cloud_download</mat-icon>
                        <mat-icon class="mr-1" >share</mat-icon>
                        <mat-icon class="mr-1" >fullscreen</mat-icon>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-3">
                        <h2>Types of items booked</h2>
                        <google-chart #chart
   [title]="title"
    type="PieChart"
   [data]="typesOfBookingItemChart"
   [options]="options"
   [width]="width"
   [height]="height">
</google-chart>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>

</div>