<div class="container">
    <div class="row">
        <div class="col col-6">
            <div class="card">
                <div class="card-body">
                    <div class="container">
                        <form [formGroup]="form" (ngSubmit)="submitForm()">
                    
                            <div class="form-group input-group-lg">
                                <input class="form-control" placeholder="Name" formControlName="name">
                            </div>

                            <div class="form-group input-group-lg">
                                <input class="form-control" placeholder="Age" formControlName="age">
                            </div>
                    
                            <div class="form-group">
                                <button class="btn btn-danger btn-block btn-lg">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
              </div>
        </div>

        <div class="col col-6">
            <div class="card">
                <div class="card-body">
                  
                    <h1>
                        users <small>(click to delete)</small>
                    </h1>

                    <ul *ngFor="let user of userArray">
                        <div (click)="remove(user)">

                        
                        <li>
                            {{user.name}} & {{user.age}}
                        </li>
                    </div>
                    </ul>
                </div>
              </div>
        </div>
    </div>
</div>